* {
    background-color: black;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: auto;
    margin-top: 10px;
    margin-right: 100px;
    margin-left: 100px;
    font-size: 35px;
    
}